html {
    width: 100%;
    height: auto;
    min-height: 100%;
}
body {
    height: auto;
    width: auto;
    background-color: #F0F0F0;
    padding: 25px 0;
}
h2 {
    margin-top: 0;
}
hr {
    height: 3px;
    background-color: #0F0F0F;
    margin: 20px 0;
}
div#wrapper {
    width: 540px;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #0F0F0F;
    background-color: white;
}
div#wrapper img {
    width: 100%;
}
form {
    display: inline-block;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
}
