{% module Header() %}
            <h1>fabos</h1>
            <div id="file">
                <img src="{{ static_url("uploads/" + filename) }}" />
                <p>{{ filename }}</p>
            </div>
            <div id="printers">
                {% if printers %}
                <form action="/confirm" method="get">
                    <select name="printer_selector">
                        {% if sel_printer %}
                            {% for printer in printers %}
                                {% if printer == sel_printer %}
                                    <option selected="selected">{{ printer }}</option>
                                {% else %}
                                    <option>{{ printer }}</option>
                                {% end %}
                            {% end %}
                        {% else %}
                            {% for printer in printers %}
                                <option>{{ printer }}</option>
                            {% end %}
                        {% end %}
                    </select>
                    <input type="submit" value="submit">
                </form>
                {% end %}
            </div><!-- div#printers -->
{% module Footer() %}
